{{- range $pipeline := .Values.buildpacks.generate }}
{{$data := dict "pipeline" $pipeline "namespace" $.Release.Namespace "sentry" $.Values.sentry "postDeployTask" $.Values.postDeployTask}}
{{ if and $.Values.buildpacks.enabled $pipeline.enabled }}
{{ include "pipeline.buildpack" $data }}
{{ end }}
{{- end}}
