{{ if .Values.kaniko.enabled }}
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: kaniko-build-pipeline
  namespace: {{ .Release.Namespace }}
spec:
  description: >-
    Pipeline will only build the image utilizing dockerfile using kaniko and then send notification via slack.
    The deployment is done via argocd

  params:
    {{ include "pipeline.defaultParams" . | nindent 4 }}
    {{ include "pipeline.defaultDockerKubernetesParams" . | nindent 4 }}

    - name: docker_file
      type: string
      default: Dockerfile
      description: location of the dockerfile, should be Dockerfile if it is in the root of the repository

    - name: docker_context
      type: string
      default: "."
      description: dockerfile context path

    - name: kaniko_extra_args
      type: string
      description: extra args to be passed into kaniko builder
      default: ''

    - name: source_subpath
      type: string
      description: a subpath within the `source` input where the source to build is located.
      default: ""

    - name: project
      type: string
      description: name of the project, which component is deployed

    - name: component
      type: string
      description: name of the application component, which is deployed

    - name: sourcemaps_dir
      type: string
      description: name of the dir where frontend sourcemaps would be stored in workspace
      default: "sourcemaps"

  workspaces:
    - name: source

  resources:
    - name: app
      type: git
    - name: kubernetes-repo
      type: git
    - name: image
      type: image

  tasks:
    - name: detect-nodejs-version
      taskRef:
        name: detect-nodejs-version
      resources:
        inputs:
          - name: app
            resource: app
      params:
        - name: default_version
          value: "14"

    - name: kaniko
      taskRef:
        name: kaniko
      resources:
          inputs:
            - name: app
              resource: app
          outputs:
              - name: image
                resource: image
      params:
        - name: application
          value: "$(params.application)"
        - name: docker_registry
          value: $(params.docker_registry)
        - name: environment
          value: "$(params.environment)"
        - name: docker_file
          value: "$(params.docker_file)"
        - name: docker_context
          value: "$(params.docker_context)"
        - name: source_subpath
          value: "$(params.source_subpath)"
        - name: sourcemaps_dir
          value: "$(params.sourcemaps_dir)"
        - name: node_version
          value: "$(tasks.detect-nodejs-version.results.node-version)"
        - name: extra_args
          value:
            - $(params.kaniko_extra_args)
      workspaces:
        - name: source
          workspace: source
      runAfter:
        - detect-nodejs-version

    - name: kustomize
      taskRef:
        name: kustomize
      resources:
        inputs:
          - name: kubernetes-repo
            resource: kubernetes-repo
      params:
        - name: application
          value: "$(params.application)"
        - name: image
          value: "$(params.docker_registry_repository):$(params.environment)-$(params.sha)"
        - name: kustomize_overlay_path
          value: "$(params.kubernetes_repository_kustomize_path)"
        - name: kubernetes_branch
          value: "$(params.kubernetes_branch)"
        - name: environment
          value: "$(params.environment)"
      runAfter:
        - kaniko

    - name: deploy
      taskRef:
        name: argocd-deploy
      params:
        - name : application
          value: "$(params.application)"
      runAfter:
        - kustomize

  {{ if .Values.sentry.enabled }}
    {{ include "task.sentryRelease" . | nindent 4 }}
  {{ end }}

  {{ include "task.finalNotification" . | nindent 2 }}

{{ end }}
