{{ if .Values.apps }}
{{- range $project := .Values.apps }}
{{- if $project.enabled }}
{{- range $component := $project.components }}
{{- if hasKey $component "wordpress" }}

# initialize `projectEnvironment` variable with either `$project.environment` if it exists or with `$.Values.environment` otherwise
{{ $projectEnvironment := ternary $project.environment $.Values.environment (hasKey $project "environment") -}}

{{- $data := dict "project"           $project
                  "component"         $component
                  "environment"       $projectEnvironment
                  "namespace"         $.Release.Namespace }}

# contains ssh key for component repo
{{ include "tekton-apps.service-account" (set (set $data "suffix" "build-pipeline-sa") "secret" (include "tekton-apps.component-repo-deploy-key" $data)) }}

{{- end }} # if component.wordpress
{{- end }} # range component
{{- end }} # if project.enabled
{{- end }} # range project
{{- end }} # if apps
