{{ template "chart.header" . }}

## `license`
{{ template "license" . }}

## `chart.deprecationWarning`
{{ template "chart.deprecationWarning" . }}

## `chart.name`

{{ template "chart.name" . }}

## `chart.version`

{{ template "chart.badgesSection" . }}

{{ template "chart.maintainersSection" . }}

## `chart.description`

{{ template "chart.description" . }}

## `chart.valuesTable`

{{ template "chart.valuesTable" . }}

{{ template "helm-docs.versionFooter" . }}
