apiVersion: v2
name: eol-exporter
description: |
  End of life exporter.
  A Kubernetes's helm chart for a exporter that get information about end of life/support of products in order to be scrapped by Prometheus

# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
type: application

# The chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 0.1.0-dev-3
appVersion: prod-d0d3488

dependencies:
  # https://artifacthub.io/packages/helm/stakater/application?modal=values&compare-to=5.1.0
  - name: application
    version: 5.1.0
    repository: https://stakater.github.io/stakater-charts/
    alias: eol-exporter
