# Default values for github-prometheus-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  # -- default docker registry
  repository: saritasallc/github-prometheus-exporter
  # -- pull policy
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: "0.1"

# Amount of pods in deployment
replicaCount: 1

# -- docker pull secret
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

# -- security options for the running pod
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

# -- type of the service to create
service:
  type: ClusterIP
  port: 8080


resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 400Mi
  # requests:
  #   cpu: 50m
  #   memory: 200Mi

# Current image has only amd64 support
nodeSelector:
  kubernetes.io/arch: amd64

tolerations: []

affinity: {}

env:
  - name: ENVIRONMENT
    value: prod
  - name: GITHUB_ORG
    value: saritasa-nest
  - name: GITHUB_API_ENDPOINT
    value: https://api.github.com
