{{ if .Values.rbac.developers.ci }}

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
 name: saritasa-developers-role
 namespace: ci
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: saritasa:developers
  namespace: ci
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: saritasa-developers-role
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: saritasa:sso:developers

{{ end }}
