{{ if .Values.rbac.client }}

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
 name: {{ .Values.rbac.client.name | required "client name should not be blank" }}-readonly-clusterrole
rules:
  - apiGroups: [""]
    resources: ["nodes", "namespaces", "services", "pods", "persistentvolumes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["extensions", "batch"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["tekton.dev"]
    resources: ["taskruns", "pipelineruns", "pipelines", "tasks"]
    verbs: ["get", "list", "watch"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.rbac.client.name }}:developers
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.rbac.client.name }}-readonly-clusterrole
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: {{ .Values.rbac.client.name }}:view

{{ end }}
