{{- define "trigger-template.buildpack" -}}
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: {{ .pipeline.name }}-trigger-template
  namespace: {{ .namespace }}
spec:

# ┌──────────────────────────────────────────────────────────────────────────────┐
# │ Parameters of the triggertemplate are pushed here based on triggerbindings   │
# │ objects                                                                      │
# │                                                                              │
# └──────────────────────────────────────────────────────────────────────────────┘
  params:
    {{ include "trigger-template.defaultParams" . | nindent 4 }}
    {{ include "trigger-template.defaultDockerKubernetesParams" . | nindent 4 }}

    - name: namespace
      description: project's namespace

    - name: repository_ssh_url
      description: git repository ssh url

    - name: repository_submodules
      description: defines whether repository should be initialized with submodules or not (if false value is set, it means no repository submodules would be downloaded)
      default: "true"

    - name: add_tag_latest
      description: push image to registry with additional tag `latest`
      default: "false"

    - name: kubernetes_repository_ssh_url
      description: git repository ssh url for kubernetes manifests repo

    - name: buildpack_builder_image
      description: the image on which builds will run (must include lifecycle and compatible buildpacks).

    - name: buildpack_runner_image
      description: reference to a run image to use

    - name: source_subpath
      description: a subpath within the `source` input where the source to build is located.
      default: ""

    - name: buildpack_config_filename
      description: The name of the buildpack.yml file which should be used for build
      default: "buildpack.yml"

    - name: project_config_filename
      description: The name of the project.toml file which should be used for build
      default: "project.toml"

    - name: user_id
      description: the user id of the builder image user.
      default: "1000"

    - name: group_id
      description: the group id of the builder image user.
      default: "1000"

    - name: buildpack_cnb_platform_api
      description: the Platform specification defines the interface between the CNB lifecycle and a platform that runs it
      default: "{{ .cnbPlatformAPI | default 0.4 }}"

    - name: sentry_project_name
      description: name of the project in Sentry

  resourcetemplates:
  - kind: PipelineRun
    apiVersion: tekton.dev/v1beta1
    metadata:
      generateName: $(tt.params.application)-build-pipeline-run-
      labels:
        app: $(tt.params.application)
        project: $(tt.params.project)
        environment: $(tt.params.environment)
        component: $(tt.params.component)
    spec:
      serviceAccountName: $(tt.params.application)-build-pipeline-sa
      serviceAccountNames:
        - taskName: kustomize
          serviceAccountName: $(tt.params.application)-build-pipeline-kustomize-sa
      pipelineRef:
        name: {{ .pipeline.name }}
      params:
        {{- include "pipeline.defaultTTBoundParams" (dict  "docker" true "kubernetes" true)  | nindent 8 }}
        - name: project
          value: "$(tt.params.project)"
        - name: namespace
          value: "$(tt.params.namespace)"
        - name: git_url
          value: "$(tt.params.repository_ssh_url)"
        - name: git_revision
          value: "$(tt.params.head_commit)"
        - name: buildpack_builder_image
          value: "$(tt.params.buildpack_builder_image)"
        - name: buildpack_runner_image
          value: "$(tt.params.buildpack_runner_image)"
        - name: source_subpath
          value: "$(tt.params.source_subpath)"
        - name: repository_submodules
          value: "$(tt.params.repository_submodules)"
        - name: add_tag_latest
          value: "$(tt.params.add_tag_latest)"
        - name: buildpack_config_filename
          value: "$(tt.params.buildpack_config_filename)"
        - name: project_config_filename
          value: "$(tt.params.project_config_filename)"
        - name: user_id
          value: "$(tt.params.user_id)"
        - name: group_id
          value: "$(tt.params.group_id)"
        - name: buildpack_cnb_platform_api
          value: "$(tt.params.buildpack_cnb_platform_api)"
        - name: sentry_project_name
          value: "$(tt.params.sentry_project_name)"

      workspaces:
        {{- include "pipeline.defaultWorkspaces" . | nindent 8 }}

      podTemplate:
        volumes:
        - name: $(tt.params.application)-buildpacks-cache
          persistentVolumeClaim:
            claimName: $(tt.params.application)-buildpacks-cache-pvc
        - name: podinfo
          downwardAPI:
            items:
              - path: "labels"
                fieldRef:
                  fieldPath: metadata.labels
              - path: "annotations"
                fieldRef:
                  fieldPath: metadata.annotations
        {{- if .podTemplate }}
        {{ toYaml .podTemplate | nindent  8 }}
        {{end }}

---
{{- end }}
