{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "capacity-prometheus-exporter.serviceAccountName" . }}
  labels:
    {{- include "capacity-prometheus-exporter.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
name: {{ include "capacity-prometheus-exporter.serviceAccountName" . }}-role
rules:
  - apiGroups:  [""]
    resources:  ["namespaces", "pods", "nodes"]
    verbs:      ["get", "list", "watch"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "capacity-prometheus-exporter.serviceAccountName" . }}-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "capacity-prometheus-exporter.serviceAccountName" . }}-role
subjects:
- kind: ServiceAccount
  name: {{ include "capacity-prometheus-exporter.serviceAccountName" . }}
  namespace: prometheus
{{- end }}
