{{ if .Values.apps }}
{{- range $project := .Values.apps }}
{{- if and $project.enabled }}
{{- range $component := $project.components }}
{{- if not (hasKey $component "wordpress") }}

# initialize `projectEnvironment` variable with either `$project.environment` if it exists or with `$.Values.environment` otherwise
{{ $projectEnvironment := ternary $project.environment $.Values.environment (hasKey $project "environment") -}}

# initialize `argocd` variable with either `$component.argocd` dict if it exists or with empty dict
{{ $argocd := ternary $component.argocd dict (hasKey $component "argocd") -}}

# initialize `argocdSource` variable with either `$argocd.source` dict if it exists or with empty dict
{{ $argocdSource := ternary $argocd.source dict (hasKey $argocd "source") -}}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $argocd.appName | default (printf "%s-%s-%s" $project.project $component.name $projectEnvironment) }}
  namespace: argo-cd
  annotations:
    argocd.argoproj.io/sync-wave: {{ $argocd.syncWave | default "210" | quote }}
    jiraURL: {{ $project.jiraURL }}
spec:
  destination:
    namespace: {{ include "tekton-apps.set-namespace-from-component-or-project" (dict "component" $component "project" $project) }}
    server: https://kubernetes.default.svc
  project: {{ $project.project }}
  source:
    path: {{ $argocdSource.path | default (printf "apps/%s/manifests/%s" $component.name $projectEnvironment) }}
    repoURL: {{ $argocdSource.repoUrl | default ($project.kubernetesRepository).url }}
    targetRevision: {{ $argocdSource.targetRevision | default ($project.kubernetesRepository).branch }}
  {{ if (ternary $argocd.ignoreDeploymentReplicasDiff false (hasKey $argocd "ignoreDeploymentReplicasDiff")) }}
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  {{- end }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
---
{{- end }} # if not component.wordpress
{{- end }} # range component
{{- end }} # if project.enabled and project.argocd
{{- end }} # range project
{{- end }} # if apps