environment: staging

gitBranchPrefixes:
  - staging
  - release

storageClassName: "gp2"

aws:
  region: "us-east-2"
  dns: proxylegalstaging.com

defaultRegistry: 833737135757.dkr.ecr.us-east-2.amazonaws.com

argocd:
  server: deploy.proxylegalstaging.com

eventlistener:
  enableWebhookSecret: true

apps:
  - project: nmbl
    enabled: true
    argocd:
      labels:
        created-by: DmitrySemenov
        ops-main: DmitrySemenov
        ops-secondary: KseniyaShaydurova
        pm: VadikKuznetsov
        tm: AlekseyBashirov
      namespace: staging
      notifications:
        annotations:
          notifications.argoproj.io/subscribe.on-health-degraded.slack: "-xxxxx"
      syncWave: 200
    mailList: nmbl@saritasa.com
    devopsMailList: devops+nmbl@saritasa.com
    jiraURL: https://saritasa.atlassian.net/browse/NMBLCLD
    tektonURL: https://tekton.proxylegalstaging.com/#/namespaces/ci/pipelineruns
    slack: client-nmbl-ci
    kubernetesRepository:
      name: nmbl-kubernetes-aws
      branch: feature/add-staging
      url: git@github.com:saritasa-nest/nmbl-kubernetes-aws.git

    extraApps:
      - name: nmbl-extra-apps
        path: dev/argocd/apps
        repoUrl: git@github.com:saritasa-nest/nmbl-kubernetes-aws.git
        targetRevision: feature/sync-boilerplate

    components:
      - name: backend
        repository: nmbl-backend
        pipeline: buildpack-django-build-pipeline
        applicationURL: https://api.proxylegalstaging.com
        argocd:
          syncWave: 210

        eventlistener:
          template: buildpack-django-build-pipeline-trigger-template
        triggerBinding:
          - name: docker_registry_repository
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/backend
          - name: buildpack_builder_image
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/buildpacks/google/builder:latest
          - name: buildpack_runner_image
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/buildpacks/google/runner:latest
          - name: kubernetes_branch
            value: feature/add-staging

      - name: frontend
        repository: nmbl-frontend
        pipeline: buildpack-frontend-build-pipeline
        applicationURL: https://proxylegalstaging.com
        argocd:
          syncWave: 220
        tekton:
          workspacePVC: 15Gi
          buildpacksPVC: 25Gi
        eventlistener:
          template: buildpack-frontend-build-pipeline-trigger-template
          # TODO: Ksusha - pls fix once you finalize the PR
          # https://github.com/saritasa-nest/nmbl-frontend/pull/1#pullrequestreview-962791245
          gitWebhookBranches:
            - feature/add-ci-cd
        triggerBinding:
          - name: docker_registry_repository
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/frontend
          - name: buildpack_builder_image
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/buildpacks/paketo/builder:latest
          - name: buildpack_runner_image
            value: 833737135757.dkr.ecr.us-east-2.amazonaws.com/nmbl/staging/buildpacks/paketo/runner:latest
          - name: source_subpath
            value: dist
          - name: kubernetes_branch
            value: feature/add-staging

      - name: wordpress
        repository: xxx-wordpress
        pipeline: wordpress-build-pipeline
        applicationURL: https://site.com
        argocd:
          # ignoreDeploymentReplicasDiff: true
          source:
            targetRevision: 15.2.4
        wordpress:
          imageTag: 6.0.2
          repositorySshUrl: ssh://
          initContainers:
            - name: install2
              image: fuck
          extraInitContainers:
            - name: another
              image: fuck2

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 1000m
              memory: 1G
          nodeSelector:
            apps: 'true'
          podSecurityContext:
            enabled: false
            fsGroup: 101
          ci:
            enabled: false
            repository_ssh_url: --branch environment git@github.com:saritasa-nest/xxx-wordpress.git
            branch: environment
          externalDatabase:
            host: xxx.rds.amazonaws.com
            user: xxx-environment-userwp
            existingSecret: xxx-wordpress-environment-externaldb
            database: xxx-environment-wp
        eventlistener:
          enableWebhookSecret: false
          filter: (body.ref.startsWith('refs/heads/develop') || body.ref.startsWith('refs/heads/release/'))
          template: wordpress-build-pipeline-trigger-template
          extraOverlays: []
          # - key: truncated_sha
          #   expression: "body.head_commit.id.truncate(7)"
          eventTypes: ["pull_request", "push"]


# make sure PVCs are bound after the chart is synced
# by temporarily mount them into short-live job.
runPostInstallMountPvcJob: true
