{{ if .Values.wordpress.enabled }}
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: wordpress-build-pipeline
  namespace: {{ .Release.Namespace }}
spec:
  description: >-
    Pipeline will trigger redeployments of the POD of the deployment managed by the bitnami wordpress HELM
    chart.

  params:
    {{ include "pipeline.defaultParams" . | nindent 4 }}

    - name: kubernetes_namespace
      type: string
      description: kubernetes namespace where wordpress is installed that requires POD redeployment


  tasks:
    - name: deploy
      taskRef:
        name: redeploy
      params:
        - name: application
          value: "$(params.application)"
        - name: kubernetes_namespace
          value: "$(params.kubernetes_namespace)"

  {{ include "task.finalNotification" . | nindent 2 }}

{{ end }}
